.testing.layout.block {
  background-color: red;
  opacity: 0.6;

  .block {
    background-color: green;

    .block {
      background-color: orange;

      .block {
        background-color: black;

        .block {
          background-color: white;
        }
      }
    }
  }
}
