.testing {
  background-color: red;
  opacity: 0.6;

  .layout {
    background-color: green;

    .layout {
      background-color: orange;

      .layout {
        background-color: black;

        .layout {
          background-color: white;
        }
      }
    }
  }
}
